{% extends 'base.html.twig' %}
{% block title %}Nouveau cours{% endblock %}
{% block body %}
    {% form_theme form 'forms/_theme.html.twig' %}
    <h1 class="page-title">Nouveau cours</h1>
    <div class="card">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <div class="form-actions">
            <button class="btn">Enregistrer</button>
            <a href="{{ path('app_courses') }}" class="btn btn-ghost">Annuler</a>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
